html{
	background-color:darkgray;
	font-size:20px;
	color:black;
}
img{
    align-items:center;
    border:groove;
    box-shadow:10px;

}
h1{
    text-align:center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:medium;

}
p1{
    text-align:center;
    font-size:smaller;
}
div2{
    text-align:center;
    margin-top:5px;
}


