html{
	background-color:darkgray;
	font-size:20px;
	color:black;
}
img{
   margin-left:auto;
   margin-right:auto;
   width:50%;
   box-shadow:50px

}
h1 {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
p{
    font:5pt;
}
p1{
    margin-left:auto;
    margin-right:auto;
    font-size:smaller;
}
div2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}


